.dialogs {
	display: grid;
	grid-template-columns: 200px minmax(0, 600px);
	grid-column-gap: 30px;
	height: 300px;
	border: 1px solid #c9c9c9;
	border-radius: 10px;
	padding: 15px
}

.dialogs-list,
.messages {
	overflow-y: scroll
}

.dialogs-list__item {
	display: block !important;
	cursor: pointer;
	color: #323232;
	text-decoration: none;

	&:hover {
		color: #ff6000
	}

	&:active,
	&:visited,
	&:focus {
		color: #323232
	}
}

.active {
	color: #ff6000 !important
}

.textarea-wrapper {
	margin-top: 30px
}